<span class='title'>Ludo</span>

<div class='center'>
  <span class='btn big' id='home-btn-new'>
    <%= link_to 'New', new_path %>
  </span>


  <span class='btn big' id='home-btn-join'>
    <%= link_to 'Join', join_path %>
  </span>
</div>
<%= javascript_pack_tag 'index' %>
