<%= link_to 'Ludo', root_path, class: 'title' %>

<%= # todo: check invalid game id and whether the game variable is there %>

<span>
  Enter Game ID
</span>
<input type='text'></input>

<span class='btn'>Join</span>
