<!--
  This is when someone is creating a new game.
  Here, they set the rules
-->
<%= link_to 'Ludo', root_path, class: 'title' %>
<span class='h1'>
  Game Rules
</span>
TODO: rules

<span class='h1'>
  Other Rules
</span>
TODO: rules

<%= link_to 'Start', create_path, id: 'create-btn', class: 'btn big', method: :post %>
