/*
 * SETUPS
 * Setting up documents
 */

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  transition: all 100ms;
}

/*
 * PRIMITIVES
 * These are going to be the building blocks of our styles
 */

// Font sizes
@mixin f10 { font-size: 2.50rem; }
@mixin f9  { font-size: 2.20rem; }
@mixin f8  { font-size: 2.00rem; }
@mixin f7  { font-size: 1.80rem; }
@mixin f6  { font-size: 1.50rem; }
@mixin f5  { font-size: 1.20rem; }
@mixin f4  { font-size: 1.10rem; }
@mixin f3  { font-size: 1.00rem; } // THIS IS THE MIDDLE FONT SIZE
@mixin f2  { font-size: 0.90rem; }
@mixin f1  { font-size: 0.75rem; }

$s5: 1.50rem;
$s4: 1.10rem;
$s3: 0.75rem;
$s2: 0.50rem;
$s1: 0.25rem;

@mixin p5 { padding: $s5; }
@mixin p4 { padding: $s4; }
@mixin p3 { padding: $s3; }
@mixin p2 { padding: $s2; }
@mixin p1 { padding: $s1; }

@mixin m5 { margin: $s5; }
@mixin m4 { margin: $s4; }
@mixin m3 { margin: $s3; }
@mixin m2 { margin: $s2; }
@mixin m1 { margin: $s1; }

@mixin clear-link {
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
}

// colors
$c-black-03: rgba(0, 0, 0, 0.3);
$c-black-02: rgba(0, 0, 0, 0.2);
$c-black-01: rgba(0, 0, 0, 0.1);
$c-black-005: rgba(0, 0, 0, 0.05);
$c-err-05: rgba(255, 50, 50, 0.5);
$c-err-1: rgba(255, 50, 50, 1);

/*
 * COMPOSITES
 * These are made of primitives defined above
 */

// Clear the link format everywhere, we'll have our own later
*, *:link, *:visited, *:hover, *:focus, *:active {
  @include clear-link;
}

input, select {
  @include f3;
  @include p1;
  background-color: $c-black-005;
}
input {
  border: 2px solid $c-black-01;
}
input:invalid {
  border: 2px solid $c-err-05;
}

.block-center {
  // this tag should only be applied to block tags,
  // otherwise it won't center anything.
  margin: 0 auto;
  display: block;
}

// a.btn, a.btn:link, a.btn:visited, a.btn:hover, a.btn:focus, a.btn:active {
//   @include clear-link;
// }
.btn {
  @include m1;
  @include p2;
  background-color: rgba(240, 50, 30, 1);
  border: none;
  display: inline-block;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover, .btn:active {
  background-color: rgba(245, 100, 95, 1);
}

.btn:active {
  background-color: rgba(255, 150, 130, 0.7);
}

.btn.big {
  @include f5;
  @include p5;
}

.btn.disabled {
  background-color: #AAA !important;
  color: #444 !important;
}

.center {
  text-align: center;
}

.error-box {
  @include p3;
  background-color: rgba(255, 0, 0, 0.20); // TODO: make this color a variable
  display: block;
  font-weight: 900;
}

.h1, .h2, .h3, .h4 {
  display: block;
  text-align: center;
  padding: $s1 $s1 $s2 $s1;
}

.h1 { @include f7; }
.h2 { @include f6; }
.h3 { @include f5; }
.h4 { @include f4; }

.copyable-link {
  display: inline-block;
  * {
    font-family: monospace;
  }
  .link, .copy {
    @include p1;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1); // TODO: make this color a variable
  }
  .link {
    background-color: rgba(0, 0, 0, 0.05); // TODO: make this color a variable
  }
  .copy {
    background-color: rgba(0, 0, 0, 0.15); // TODO: make this color a variable
    font-weight: 900;
  }
  .copy:hover, .copy:focus {
    background-color: rgba(0, 0, 0, 0.25); // TODO: make this color a variable
  }
  .copy:active {
    background-color: rgba(55, 0, 0, 0.4); // TODO: make this color a variable
  }
}

.title {
  @include f9;
  @include m1;
  display: block;
  padding: $s1 $s1 $s3 $s1;
  text-align: center;
}
.title:hover {
  cursor: pointer;
}
